html {
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

.img-flex {
  display: block;
  width: 100%;
}

.banner {
  position: relative;
  max-height: 500px;
  overflow: hidden;
}

.banner-content {
  margin: 0;
  position: absolute;
  bottom: 1em;
  left: 50%;
  transform: translateX(-50%);
}

h2 {
  display: inline;
  background-color: rgba(0, 0, 0, .5);
  color: white;
  font-size: 4rem;
}

p {
  font-size: 2rem;
  font-style: italic;
}
