html {
  box-sizing: border-box;
font-family: 'Open Sans', sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0
}

img {
  display: block;
  width: 100%;
}

.banner {
position: relative;
}

.banner-content {
  padding: 0 1rem;
  position: absolute;
  bottom: 1rem;
}

h2 {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  font-size: 4rem;
}

p {
  font-size: 2rem;
  font-style: italic;
}
